In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from tensorflow.keras.layers import Dense, SimpleRNN,LSTM,GRU,Flatten,Conv2D,MaxPool2D
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical

from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [2]:
!pip install -U finance-datareader

Requirement already satisfied: finance-datareader in c:\users\m\appdata\local\programs\python\python312\lib\site-packages (0.9.93)
Requirement already satisfied: pandas>=0.19.2 in c:\users\m\appdata\local\programs\python\python312\lib\site-packages (from finance-datareader) (2.2.2)
Requirement already satisfied: requests>=2.3.0 in c:\users\m\appdata\local\programs\python\python312\lib\site-packages (from finance-datareader) (2.31.0)
Requirement already satisfied: requests-file in c:\users\m\appdata\local\programs\python\python312\lib\site-packages (from finance-datareader) (2.1.0)
Requirement already satisfied: lxml in c:\users\m\appdata\local\programs\python\python312\lib\site-packages (from finance-datareader) (5.2.2)
Requirement already satisfied: tqdm in c:\users\m\appdata\local\programs\python\python312\lib\site-packages (from finance-datareader) (4.66.4)
Requirement already satisfied: numpy>=1.26.0 in c:\users\m\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\m\appdata\roaming\python\python312\site-packages (from pandas>=0.19.2->finance-datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\m\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\m\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\m\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\m\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\m\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\m\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.3.0->finance-datareader) (2024.2.2)
Requirement already satisfied: colorama in c:\users\m\appdata\roaming\python\python312\site-packages (from tqdm->finance-datareader) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\m\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas>=0.19.2->finance-datareader) (1.16.0)

In [3]:
import FinanceDataReader as fdr

In [4]:
df=fdr.DataReader('BTC/USD','2024')
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-07-20,66709.921875,67610.734375,66299.617188,67163.648438,67163.648438,19029581250
2024-07-21,67164.914063,68372.906250,65842.296875,68154.523438,68154.523438,26652190004
2024-07-22,68152.976563,68480.062500,66611.296875,67585.250000,67585.250000,42649109453
2024-07-23,67584.804688,67779.015625,65484.460938,65927.671875,65927.671875,35605668666
2024-07-24,65944.328125,66096.015625,65497.160156,65916.007813,65916.007813,33283104768

In [5]:
df.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [6]:
df=df.iloc[:-2]
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-07-18,64104.738281,65104.660156,63246.164063,63974.066406,63974.066406,27239305337
2024-07-19,63972.324219,67442.640625,63329.343750,66710.156250,66710.156250,37003855410
2024-07-20,66709.921875,67610.734375,66299.617188,67163.648438,67163.648438,19029581250
2024-07-21,67164.914063,68372.906250,65842.296875,68154.523438,68154.523438,26652190004
2024-07-22,68152.976563,68480.062500,66611.296875,67585.250000,67585.250000,42649109453

In [7]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-07-18,64104.738281,65104.660156,63246.164063,63974.066406,63974.066406,27239305337
2024-07-19,63972.324219,67442.640625,63329.343750,66710.156250,66710.156250,37003855410
2024-07-20,66709.921875,67610.734375,66299.617188,67163.648438,67163.648438,19029581250
2024-07-21,67164.914063,68372.906250,65842.296875,68154.523438,68154.523438,26652190004
2024-07-22,68152.976563,68480.062500,66611.296875,67585.250000,67585.250000,42649109453

In [8]:
sc=MinMaxScaler()
df = pd.DataFrame(sc.fit_transform(df), columns=df.columns)

In [9]:
df.head()

       Open      High       Low     Close  Adj Close    Volume
0  0.082284  0.120397  0.112552  0.138788   0.138788  0.097186
1  0.139104  0.171680  0.172346  0.162336   0.162336  0.320903
2  0.162181  0.159889  0.069841  0.099500   0.099500  0.395878
3  0.099435  0.138081  0.126577  0.139163   0.139163  0.225811
4  0.139278  0.125687  0.129916  0.138650   0.138650  0.246012

In [10]:
#과거 10일 간의 비트코인 가격데이터를 가지고, 다음 날 비트코인 종가가격을 예측한다..

In [11]:
df.drop('Adj Close',axis=1,inplace=True)

In [12]:
#x
#과거 10일간 가격 데이터
#y
#다음날 종가

In [13]:
window_size=10

x=[]
y=[]

for i in range(len(df)-window_size-1):
    x.append(df.iloc[i:i+10,:])
    y.append(df.iloc[i+10+1,3])

In [14]:
x=np.array(x)
y=np.array(y)

In [15]:
df=fdr.DataReader('BTC/USD','2020','2025')
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-07-20,66709.921875,67610.734375,66299.617188,67163.648438,67163.648438,19029581250
2024-07-21,67164.914063,68372.906250,65842.296875,68154.523438,68154.523438,26652190004
2024-07-22,68152.976563,68480.062500,66611.296875,67585.250000,67585.250000,42649109453
2024-07-23,67584.804688,67779.015625,65484.460938,65927.671875,65927.671875,35605668666
2024-07-24,65944.328125,66096.015625,65497.160156,65916.007813,65916.007813,33283104768

In [36]:
df.drop('Adj Close', axis=1, inplace=True)

In [45]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
df.head()

       Open      High       Low     Close    Volume
0  0.032204  0.028099  0.045636  0.032731  0.038290
1  0.032316  0.027483  0.042071  0.029579  0.044761
2  0.029112  0.030429  0.041769  0.034855  0.065908
3  0.034414  0.030629  0.047638  0.035821  0.037939
4  0.035370  0.032340  0.048991  0.035831  0.041645

In [46]:
window_size=10

x = []
y = []

for i in range(len(df)-window_size-1):
  x.append(df.iloc[i:i+10, :])
  y.append(df.iloc[i+10+1, 3])

In [47]:
x_train = x[:1400]
x_test = x[1400:]

y_train = y[:1400]
y_test = y[1400:]

In [48]:
len(x)

1656

In [49]:
len(y)

1656

In [50]:
#Dense
model=Sequential()
model.add(Flatten(input_shape=(10,5)))
model.add(Dense(200))
model.add(Dense(100))
model.add(Dense(50))
model.add(Dense(20))
model.add(Dense(10))
model.add(Dense(1))
model.summary()

c:\Users\M\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\reshaping\flatten.py:37: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ flatten_3 (Flatten)             │ (None, 50)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_18 (Dense)                │ (None, 200)            │        10,200 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_19 (Dense)                │ (None, 100)            │        20,100 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_20 (Dense)                │ (None, 50)             │         5,050 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_21 (Dense)                │ (None, 20)             │         1,020 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_22 (Dense)                │ (None, 10)             │           210 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_23 (Dense)                │ (None, 1)              │            11 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 36,591 (142.93 KB)

 Trainable params: 36,591 (142.93 KB)

 Non-trainable params: 0 (0.00 B)

In [51]:
model.compile(optimizer='adam',loss='mse')

In [52]:
len(y_train)

1400

In [54]:
hist=model.fit(x_train,y_train,epochs=100,validation_data=(x_test,y_test),batch_size=10)

IndexError: tuple index out of range